.gradient-custom-3 {
    /* fallback for old browsers */
    background: #3f63e6;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(39, 83, 204, 0.5), rgba(67, 64, 218, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(29, 55, 199, 0.5), rgba(19, 57, 227, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84a9fa;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(132, 165, 250), rgb(21, 18, 208));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(132, 156, 250), rgb(143, 180, 244))
    }